@import '../../_colors.scss';


.toggle-button {
  border: 1px solid lighten($black, 30);
  color: $black;
  background-color: white;
  margin: 10px;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: $l-blue;
  border-radius: 4px;
  position: 'absolute';
}


