.toggle-button {
  border: 1px solid gray;
  color: #333;
  background-color: white;
  margin: 10px; }

.box {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: #68AEF0;
  border-radius: 4px;
  position: 'absolute'; }
