@import '../../_colors.scss';


.toggle-button {
  border: 1px solid lighten($black, 20);
  color: $black;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: $l-blue;
  border-radius: 4px;
  position: 'absolute';
}


