.toggle-button {
  border: 1px solid #666666;
  color: #333; }

.box {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: #68AEF0;
  border-radius: 4px;
  position: 'absolute'; }
