@import './_colors.scss';

.text-input {
  padding: 5px 10px;
  font-size: 18px;
  color: lighten($black, 10);
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
}

.btn {
  background-color: transparent;
  padding: 7px 14px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}